{% load static%}
<!-- Footer Start -->
<footer id="footer" class="footer-style-2">
    
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        


                        <div class="copy-right">
                            
                            <p>© 2023 Bhraman. All Rights Reserved. Developed By <a href="#">Bhraman</a><br>
                                
                              
                                <div class="copy-right">
                                    <div class="contact-form" style="display: flex; justify-content: center;">
                                        <form action="mailto:bhraman908@gmail.com" method="post" enctype="text/plain" style="display: flex;">
                                            <input type="text" name="email_content" maxlength="160" placeholder="Write your email here..." style="flex: 1; width: 800%;">
                                            <input type="submit" value="Send Email" style="margin-left: 10px;">
                                        </form>
                                    </div>
                                    
                                   
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="mailto:bhraman908@gmail.com" style='color: white'>bhraman908@gmail.com</a>
                                    
                                    
                                </div>
                                
                            </p>
            
                            
                        
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>
	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>